*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f4fff4;
}

.container{
padding:20px;
}

.header{
margin-bottom:20px;
}

.header h2{
color:#2e7d32;
}

.header p{
color:#666;
margin-top:5px;
}

.upload-card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

margin-bottom:20px;
}

.upload-card img{

width:100%;

height:250px;

object-fit:cover;

border-radius:15px;

margin-bottom:15px;
}

.button-row{
display:flex;
gap:10px;
}

.button-row button{

flex:1;

padding:12px;

border:none;

border-radius:12px;

background:#4CAF50;

color:white;

cursor:pointer;
}

.voice-card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

margin-bottom:20px;
}

.voice-card button{

background:#2e7d32;

color:white;

border:none;

padding:12px;

border-radius:12px;

margin:10px 0;

cursor:pointer;
}

textarea{

width:100%;

height:120px;

padding:10px;

border-radius:12px;

border:1px solid #ccc;

resize:none;
}

.detect-btn{

width:100%;

padding:15px;

background:#1b5e20;

color:white;

font-size:18px;

border:none;

border-radius:15px;

cursor:pointer;
}