*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f4fff4;
}

.container{
padding:20px;
}

.header{
margin-bottom:20px;
}

.header h2{
color:#2e7d32;
}

.header p{
color:#666;
margin-top:5px;
}

#searchBox{

width:100%;

padding:12px;

border-radius:12px;

border:1px solid #ccc;

margin-bottom:20px;
}

.history-card{

display:flex;

align-items:center;

background:white;

padding:15px;

border-radius:15px;

margin-bottom:12px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.icon{

font-size:35px;

margin-right:15px;
}

.details h3{

color:#2e7d32;

margin-bottom:5px;
}

.details p{

color:#666;

font-size:14px;
}

.clear-btn{

width:100%;

padding:14px;

background:#d32f2f;

color:white;

border:none;

border-radius:12px;

margin-top:20px;

cursor:pointer;
}   